<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="startMinMenuItem" value="true" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAFt3+HPkTaWbHuLpko6l2+KZGICgNEXS0fESPyMDGBz4DwBURoLzJAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAFt3+HPkTaWbHpumHnAo3RbPxAAE32YdcHC8xM/IAAYH/gMAudRmNyQAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAFt3+HPkTaWbHm2OUk6l2+KZGIBgn6uUk+MlfkYGMDjwHwAPKFEsJAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEANuXHhF5U+mmxzWbVXa7OdKYGICg7UiTnen/2YwMYHDg/5/MBDD7YNsiOwCCsz3kMAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEANuXHhF5U+mmx2rOKba7OdKYGIDg9oTD1q43ZjMygMGB/28mJIDZj6btsAEAt4J/izAAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEANuXHhF5U+mmR3mon/1ujjQmBiCQXL3OzvXGbEYGMDjw/82EBDA7OSbCHgBe/OLVMAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEANuXHhF5U+mmxwrB0/a7OdKYGIBA4Xu3veuN2YwMYHDg/5sJCWB2lfoRewBzBMZrMAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANuXHhF5U+mmB9/iEpfdHGlMDECQczHRxfXGbEYGMDjw/82EBDC7DSgOAAHdHy8wAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEANv5KSzyptJNj6jpDS4/TFKZGIAg52KiC6/iPEYGMDjw/1luHJjdBhQHAJlSvAswAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEALtmGRJ5U+mmx4J1M11KJ6QyMQBBzsVEl+K6BYwMYHDg/4nVMRD24hIXACviHzkwAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAONdHhR5U+mmh1bsSpfX/KlMDECQczHR5djERYwMYHDgv+qSKDD789FNLgBK9VYBMAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANuXHhF5U+mmh8euE067OdKYGIBAA8h2vTGbkQEMDvx/MyEBzLYDigMAw2RggTAAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHulGxh5U+mmBwODidMPtlQmBjAwcLojvIQRwj7wv3VXBJRt6AQAJbviTTAAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHulGxh5U+mmBwODodMPtlQmBjDQcbojvIQRwj7wv3VXBJSt5wQACFVvgzAAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAHulGxh5U+mmBwODkdMPtlQmBjAwcLojvIQRwj7wv3VXBJSt7wQANIRzAjAAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEALNnDYy8qXTTg4FB12mxfioTAxhoO90RXsIIYR/437orAsrWdQIAzQRG2TAAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEALNnDYy8qXTTg4FBy2mxfioTAxioO90RXsIIYR/437orAsrWdgIABeX55jAAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEALNnDYy8qXTTY5v+EsfF+qlMDEBwlG+144OH8xkZwODA/8Y3MWD2NnMBJwBe/TI6MAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEALNnDYy8qXTTQz7T3XGxfioTAxB0zRV1ePBwPiMDGBz43/gmBsyeIpnjCACwZ+XDMAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEALNnDYy8qXTTY0XeFYfF+qlMDEBQsajD4cHD+YwMYHDgf+ObGDD7wWR9RwBc34QKMAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEADuZHRB5U+mmR8/HzY6SJ1OZGIDAulDR8cHD+YwMYHDgf+ObGDCbJajfEQDkefzlMAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEALNnDYy8qXTTY3dFheNi/VQmBiC4GSjh+ODhfEYGMDjwv/FNDJjNlTbfEQCswqfZMAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>